<!DOCTYPE html>
<html lang="en">
  <%-include("./partials/head") %>
<body>
  
  <%-include("./partials/nav")%>
  <div>
    <% if(blogs.length>0){%>
      <% blogs.forEach((blog)=>{%>
        <a href="/blog/<%=blog._id %>"><h3><%=blog.title %></h3></a>
        <p><%=blog.snippet %></p>
        <% }) %>
        <% }else{ %>
        <p>There are no blogs to be displayed</p>
        <%} %>
  </div>

  <%- include("./partials/footer")%>
  
</body>
</html>